[submodule "tools"]
	path = tools
	url = https://github.com/QuestOJ/Manage-Tools.git
[submodule "web/qoj"]
	path = web/qoj
	url = https://github.com/QuestOJ/QuestOJ-Web
[submodule "web/manage"]
	path = web/manage
	url = https://github.com/QuestOJ/QuestOJ-Manage
